/* BODY */
body {
  background-color: #fdfdfd;
  font-family: Arial, sans-serif;
  color: #0D3B66;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

/* HEADER */
header {
  background-color: #0D3B66;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

header .logo {
  width: 80px;
  display: block;
  margin: 0 auto 0.5rem auto;
}

.navbar {
  background-color: #0D3B66; 
}

.navbar .navbar-brand,
.navbar .btn-outline-light {
  color: white;
}

.navbar .nav-link{
  color:#0D3B66;
}

.navbar .nav-link:hover {
  color: #F15A29;
}

/* BOTONES */
button:not(.carousel-control-prev, .carousel-control-next),
.btn-primary {
  background-color: #F15A29 !important;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
}

button:not(.carousel-control-prev, .carousel-control-next):hover,
.btn-primary:hover {
  background-color: #0D3B66 !important;
}

/* Botones del carrusel  */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: none;
}

/* CARRUSEL */
.carousel-inner img {
  max-height: 400px;
  object-fit: cover;
}

/* MAIN */
main {
  flex-grow: 1; 
  padding: 2rem 0;
  text-align: center;
}

/* FOOTER */
footer {
  background-color: #eee;
  color: #0D3B66;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}

.carousel-item img {
  max-height: 400px;
  object-fit: contain;
}

.about-us {
  margin-top: 2rem;
  text-align: left;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

